KargaAspNew/bin/KargaAspNew.dll
KargaAspNew/bin/KargaAspNew.pdb
KargaAspNew/obj/Debug/KargaAspNew.dll
KargaAspNew/obj/Debug/KargaAspNew.pdb
.vs/KargaAspNew/v15/.suo
.vs/KargaAspNew/v15/.suo
.vs/KargaAspNew/v15/Server/sqlite3/db.lock
.vs/KargaAspNew/v15/.suo
.vs/KargaAspNew/v15/Server/sqlite3/storage.ide-wal
.vs/KargaAspNew/v15/Server/sqlite3/storage.ide-shm

