bod.topnav {
    background-color: rgb(86, 193, 213);
    overflow: hidden;
}
body{
    margin:0;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0;
}
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

/* --------------------------------------------------------------------------------- */

.sepetimrow{

}
.sepetimresim {
    float: left;
    width: 35%;
    margin-bottom: 10%;
}
.SepetimTekUrun{
    float:left;

}
.sepetimyazilar {
    float: left;
    width: 50%;
    margin: 2% 0% 10% 5%
}
.sepetimcarpi {
    float: left;
    width: 10%;
}

/* --------------------------------------------------------------------------------- */

.topper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(86, 193, 213);
    color: white;
    text-align: center;
}

h4 {
    margin-block-start: 0;
    margin-block-end:0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.columntop {
    float: left;
    width: 33%;
    padding: 0;
    display: inline;
}
.aramacolumn {
    float: left;
    
    display: inline;
}

.positionRelative{
    position : relative;
}


/* --------------------------------------------------------------------------------- */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    background-color: rgb(86, 193, 213);
    color: white;
    text-align: center;
}


/* --------------------------------------------------------------------------------- */


/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
    float: left;
    width: 25%;
    padding: 0px;
}



/* --------------------------------------------------------------------------------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.gorunmez {
display:none
}
.gorunur {
display:block;
}



/* ----------------------------anasayfa----------------------------------------------------- */


/* Three image containers (use 25% for four, and 50% for two, etc) */

.columnanasayfa {
    float: left;
    width: 32%;
    padding: 0px;
}
.floatleft {

    float:left;
}

.anasayfaurunler{
    padding-left: 5%;

}


/* Clear floats after image containers */

.rowanasayfa::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 10%
}


/* --------------------------------------------------------------------------------- */

.mydiv {
    padding: 35px;
}


/* --------------------------------------------------------------------------------- */

.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* -----------------------------------NavibarNew---------------------------------------------- */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 193, 213);
}
.arama {
    color: #999999;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}



.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c0bebe;
    overflow: hidden;
}

.mavirenk {
    background-color: rgb(86, 193, 213);
}

.paddingleft{

    padding-left:3%;
}

.sideitems {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.sidenavright {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(192,190,190);
    overflow: hidden;
}

.sideitemsright {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(192,190,190);
}



.columnside {
    
    width: 49%;
float:left;
    
    
}




.product-images {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0px auto;
}

.columndetay {
   
    width: 40%;
    padding: 2px;
    display: inline;
}

.boxsizing {
    
    box-sizing: border-box;
}

.mybox {
    float: right;
    width: 50%;
  
    padding: 0;
   
}
.urunaciklama {
    float: right;
    
}
.urunfiyat {
    float: left;
    padding: 5px;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.yazikaydirma {
    padding-left: 5%;
}

.beyaz{
    color: white;
}

.dikeyortala {
    padding-bottom: 10%;
    padding-top: 10%;
   
}
.dikeyortala_oto{
    height:50%;
    margin-top: auto;
    margin-bottom:auto
}

.bibucukfont {
    font-size: 1.1em;
}
.butonum {
    width: 100%;
    padding: 12px 16px 12px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    background: #56c1d5;
    border: 0;
}


.yeniuyeol {
    display: block;
    padding: 6px 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: solid 1px #dddddd;
    font-size: 14px;
    font-weight: 300;
    height: 44px;
}
.adres {
    
    height: 90px;
}
.mytextbox {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left:auto;
    margin-right:auto;
}
.block{

    display:block;
}
.odemetepeic {
    background-color: rgb(86, 193, 213);
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    float: left;
}
.sagmenu_girilmis_kutu {
    width: 100%;
    height: 9%;
    box-sizing: border-box;
}

.sagmenu_girilmis_kutu1_sol {
    width: 60%;
    float: right;
}
.sagmenu_girilmis_kutu1_sag {
    width: 40%;
    float: right;
}
.sagmenu_girilmis_yazi{
    margin-top:10%;
    color:white;
}
.iletisim_satir {
    width: 98%;
    height: 30px;
    border: solid 1px #dddddd;
    box-sizing: border-box;
}
.iletisim_sol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 700;
    float: left;
    width: 38%;
    margin-top:5px;
}

.iletisim_sag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    width: 60%;
    margin-top: 5px;
}
