bod.topnav {
    background-color: rgb(86, 193, 213);
    overflow: hidden;
}
body{
    margin:0;
}

h3 {
    /*display:inline;*/
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0;
}
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }


/* --------------------------------------------------------------------------------- */

.topper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(86, 193, 213);
    color: white;
    text-align: center;
}

h4 {
    margin-block-start: 0;
    margin-block-end:0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.columntop {
    float: left;
    width: 33%;
    padding: 0;
    display: inline;
}
.positionRelative{
    position : relative;
}


/* --------------------------------------------------------------------------------- */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    background-color: rgb(86, 193, 213);
    color: white;
    text-align: center;
}


/* --------------------------------------------------------------------------------- */


/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
    float: left;
    width: 25%;
    padding: 0px;
}



/* --------------------------------------------------------------------------------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.gorunmez {
display:none
}
.gorunur {
display:block;
}



/* ----------------------------anasayfa----------------------------------------------------- */


/* Three image containers (use 25% for four, and 50% for two, etc) */

.columnanasayfa {
    float: left;
    width: 32%;
    padding: 0px;
}
.floatleft {

    float:left;
}

.anasayfaurunler{
    padding-left: 5%;

}


/* Clear floats after image containers */

.rowanasayfa::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 10%
}


/* --------------------------------------------------------------------------------- */

.mydiv {
    padding: 35px;
}


/* --------------------------------------------------------------------------------- */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* -----------------------------------NavibarNew---------------------------------------------- */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 193, 213);
}



.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aquamarine;
    overflow: hidden;
}

.sideitems {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 193, 213);
}

.sidenavright {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(192,190,190);
    overflow: hidden;
}

.sideitemsright {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(192,190,190);
}



.columnside {
    
    width: 50%;
float:left;
    
    
}




.product-images {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0px auto;
}

.columndetay {
   
    width: 40%;
    padding: 2px;
    display: inline;
}

.boxsizing {
    box-sizing: border-box;
}

.mybox {
    float: right;
    width: 50%;
  
    padding: 0;
   
}
.urunaciklama {
    float: right;
    
}
.urunfiyat {
    float: left;
    padding: 5px;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.yazikaydirma {
    padding-left: 5%;
}

.beyaz{
    color: white;
}

.dikeyortala {
    padding-bottom: 10%;
    padding-top: 10%;
   
}

.bibucukfont {
    font-size: 1.1em;
}